{
  "presets": [
    [ "@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "loose": true
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ]
}
